page {
    height: 100vh;
    .category {
        height: 100vh;
        .category-content {
            width: 100%;
            height: ~'calc(100vh - 108rpx)';
            display: flex;
            .category-left-wrap {
                width: 110%;
                height: 100%;
                flex: 2;
                overflow: hidden;
                .category-left {
                    height: 100%;
                    width: 107%;
                    flex: 2;
                    .cat_level-0 {
                        text-align: center;
                        padding: 30rpx;
                        // padding: 30rpx 0;
                        font-size: 30rpx;
                        box-sizing: border-box;
                        background: #eee;
                    }
                    .active {
                        background: #fff;
                        position: relative;
                        &::before {
                            content: "";
                            width: 10rpx;
                            height: 50rpx;
                            position: absolute;
                            background: red;
                            left: 0;
                            top: 20rpx;
                        }
                    }
                 }
            }
            .category-right-wrap {
                flex: 6;
                background: #fff;
                height: 100%;
                .category-right {
                    height: 100%;
                    .view {
                        width: 100%;
                        display: flex;
                        .category-right-containt {
                            width: 33.3%;
                            .category-right-title {
    
                            }
                            .category-right-content {
                                .navigator {
                                    .cat_icon {
                                        width: 100rpx;
                                    }
                                    .cat_name {
         
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}