.home {
    .home-swiper {
        width: 100%;
        height: 340rpx;
        .home-swiper-item {
            navigator {
                image {
                    width: 100%;
                }
            }
        }
    }
    .home-nav-list {
        width: 100%;
        display: flex;
        background: #fff;
        padding: 40rpx;
        justify-content: space-between;
        image {
            width: 130rpx;
        }
    }
    .home-floor-list {
        margin-top: 20rpx;
        .home-floor-item {
            margin-top: 20rpx;
            .home-floor-title {
                width: 100%;
            }
            .home-floor-content {
                .home-floor-content-nav {
                    width: 33.3%;
                    float: left;
                    .home-floor-content-img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
